<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>

	<body>
		<!--The content below is only a placeholder and can be replaced.-->

		<link rel="stylesheet" href="bootstrap/css/bootstrap.css">

		<link rel="stylesheet" href="css/basic.css">
		<!--此处是公共头部-->
		<%- include ("public/header.ejs")%>
		
		
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-2">
					<!--此处是公共的左侧导航-->
					<%- include ("public/leftnav.ejs")%>

				</div>
				<div class="col-sm-10">
					<ol class="breadcrumb">
						<li class="active">商品管理
						</li>
						<li class="active">商品列表
						</li>
					</ol>
					<div class="panel panel-default">

						<div class="panel-heading">
							修改商品
						</div>
						<div class="panel-body">
							<div class="table-responsive input-form">
								<form action="/doAdd" method="post">
									<ul>
										<li> 商品名称: <input type="text" name="title" /></li>

										<li> 商品图片: <input type="file" name="pic" /></li>
										<li> 商品价格: <input type="text" name="price" /></li>
										<li> 商品邮费: <input type="text" name="fee" /></li>

										<li>
											商品描述:
											<textarea name="description" id="" cols="60" rows="8"></textarea>
										</li>

										<li>
											<br/>
											<button type="submit" class="btn btn-default">提交</button>
										</li>

									</ul>

								</form>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>

	</body>

</html>