<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
	</head>
	<body>
		<%-include ("public/header.ejs") %>
		<h2>我是ejs模版首页</h2>
		<img src="images/01.jpg" width="300" id="img"/>
		<div>
			<input type="button" value="点击修改图片宽度" id="btn" />
		</div>
		<script src="js/index.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
